.app {
    #footer {
        margin-top: 1vh;
        #socialMedia {
            display: flex;
            gap: 1.3rem;
            justify-content: center;
            align-items: center;

            .site {
                transition: .2s;

                &:hover {
                    transform: scale(1.2);
                    color: orange;
                }
            }
        }
    }
}